.home {
  width: 20rem;
  height: 25rem;
  max-width: 100%;
}

.home__image {
  margin-bottom: 1.5rem;
  width: 10rem;
  height: 10rem;
}

.home__image:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.home__title {
  margin: 0.5rem;
}
